@charset "UTF-8";

:root
{
	--hex-white: 	#fff;
	--hex-luna: 	#E2F9B8; /*old sepia*/
	--hex-luna:		#d6c5e7;
	--hex-dark: 	#121212;
	--hex-blue: 	#0000FF;
	--hex-grey: 	#F4F4ED;

	--x-8: 	0.5rem;	
	--x-16: 1rem;
	--x-24: 1.5rem;
	--x-32: 2rem;
	--x-40: 2.5rem;
	--x-48: 3rem;
	--x-56: 3.5rem;
	--x-64: 4rem;
	--x-72: 4.5rem;
	--x-80: 5rem;
	--x-88: 5.5rem;
	--x-96: 6rem;
	--x-104: 6.5rem;
	--x-112: 7rem;
	--x-120: 7.5rem;
	--x-128: 8rem;
	--x-136: 8.5rem;
	--x-144: 9rem;
	--x-152: 9.5rem;
	--x-160: 10rem;
	--x-168: 10.5rem;
	--x-176: 11rem;
	--x-184: 11.5rem;
	--x-192: 12rem;
	--x-224: 14rem;
	--x-296: 18.5rem;
	--x-320: 20rem;
	--x-352: 22rem;
}

html, body
{
	width: 100%;
	height: 100%;

	overscroll-behavior: none;

	background: var(--hex-dark);
}

.tween
{
	backface-visibility: hidden;
}

/*----------------------CONTAINERS*/

.sk-wrap
{
	width: 100%;
	height: 100%;
	position: relative;

	font-size: 16px;

	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

}

.sk-cont
{
	width: 83.3%;
	position: relative;
	margin: 0 auto;
}

/*----------------------TYPOGRAPHY*/

h1
{
	font-size: 6.5em;
	line-height: 1.1;
}

.h1-lead
{
	font-size: 5em;
	line-height: 1.3;
}

h2
{
	font-size: 6em;
	line-height: 1.1;
}

h3
{
	font-size: 5em;
	line-height: 1.1;
}

h4
{
	font-size: 4em;
	line-height: 1.1;
}

h5
{
	font-size: 3em;
	line-height: 1.1;
}

h6
{
	font-size: 2em;
	line-height: 1.1;
}

.h7
{
	font-size: 1.5em;
	line-height: 1.1;
}

.p-lrg
{
	font-size: 1.5em;
	line-height: 1.7;
}

.p-med
{
	font-size: 1.25em;
	line-height: 1.7;
}

.p-sml
{
	font-size: 1em;
	line-height: 1.7;
}

.p-tny
{
	font-size: 0.875em;
	line-height: 1.7;
}

.p-low
{
	font-size: 0.75em;
	line-height: 1.7;
}

.test-h
{
	position: relative;
	color: var(--hex-white);
}

.test-h *
{
	margin-bottom: var(--x-96);
}

/*----------------------NAV*/

.sk-nav
{
	width: 100%;
	height: 20rem;
	/*max-height: 400px;*/
	position: fixed;

	top: 0;
	left: 0;
	right: 0;

	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

	pointer-events: none;
	user-select: none;
	-webkit-touch-callout: none;
	touch-callout:  none;
}

.sk-nav-inner
{
	width:  83.3%;
	position: relative;
	margin: 0 auto;

	color: var(--hex-white);

	padding-top: var(--x-64);

	display: flex;
	justify-content: space-between;
}

.sk-nav-inner h6
{
	pointer-events: auto;
	cursor: pointer;

	user-select: none;
	-webkit-touch-callout: none;
	touch-callout:  none;
}

.sk-nav-inner h6 a
{
	color: var(--hex-white);
	text-decoration: none;

	transition: color 400ms;
	will-change: color;
}

.sk-nav-inner h6 a:visited, .sk-nav-inner h6 a:active
{
	color: var(--hex-white);
}

.sk-nav-inner h6 a:hover
{
	color: var(--hex-luna);
}

.sk-nav-menu
{
	transition: color 400ms;
	will-change: color;
}

.sk-nav-menu-over
{
	color: var(--hex-luna);
}

.sk-nav-back
{
	padding-top: var(--x-32) !important;
}

.sk-nav-back p
{
	font-size: 1.375em;
}

.sk-nav-back-btn
{
	pointer-events: auto;
	cursor: pointer;

	user-select: none;
	-webkit-touch-callout: none;
	touch-callout:  none;

	transition: color 400ms;
	will-change: color;
}

.sk-nav-back-btn-default
{
	display: none;
	visibility: hidden;
}

/*----------------------NAV EXTENDED*/

.sk-nav-wrap
{
	width: 100%;
	height: 100vh;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	/*overflow-y: hidden;*/
	background: var(--hex-grey);

	opacity: 0;

	transition: opacity 300ms ease-out;
	will-change: opacity;

	visibility: hidden;
	display: none;

	font-size: 16px;

	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.sk-nav-wrap-show
{
	visibility: visible;
	display: block;
}


.sk-nav-extended
{
	width: 100%;
	height: 100%;
	position: relative;

	opacity: 0;

	transition: opacity 600ms ease-out;
	will-change: opacity;
}

.sk-nav-extended .sk-nav-inner h6 a, .sk-nav-extended .sk-nav-inner .sk-nav-menu
{
	color: var(--hex-dark);

	user-select: none;
	-webkit-touch-callout: none;
	touch-callout:  none;
}

.sk-nav-extended .sk-nav-inner h6 a:active
{
	color: var(--hex-dark);
}

.sk-nav-extended .sk-nav-inner h6 a:hover
{
	color: var(--hex-blue);
}

.sk-nav-content
{
	width: 83.3%;
	margin: var(--x-64) auto 0 auto;
}

.sk-nav-content-links a
{
	color: var(--hex-dark);
	text-decoration: none;

	transition: color 400ms;
	will-change: color;

	cursor: pointer;

	user-select: none;
	-webkit-touch-callout: none;
	touch-callout:  none;
}

.sk-nav-content-links a:active, .sk-nav-content-links a:visited
{
	color: var(--hex-dark);
}

.sk-nav-content-links a:hover
{
	color: var(--hex-blue);
}

.sk-nav-menu-over-extended
{
	color: var(--hex-blue) !important;
}

/*----------------------BG IMAGE*/

.sk-rear-image
{
/*	width: 100%;*/
	
	width: 100vw;
	height: 100vh;
	position: absolute;
	position: fixed;
	font-size: 0;

	opacity: 0.14;
}

.sk-rear-image-blend
{
	width: 100%;
	height: 50%;
	position: absolute;

	left:  0;
	right: 0;
	bottom: 0;

	background: linear-gradient(to top,  rgba(18,18,18,1) 0%, rgba(18,18,18,0) 100%);
}

/*----------------------HEADER*/

.sk-header
{
	width: 100%;
	position: relative;

	color: var(--hex-grey);
}

.sk-header .h1-lead
{
	width: 83%;

	padding-top: var(--x-296);
	padding-bottom: var(--x-296);
}

.sk-header h1
{
	padding-top: var(--x-296);
	padding-bottom: var(--x-296);	
}

/*----------------------GRID*/

.sk-grid
{
	width: 100%;
	position: relative;

	margin-bottom: var(--x-192);
}

.sk-grid .h7
{
	text-align: center;
	width: 80%;
	color: var(--hex-grey);
	margin: 0 auto;

	position: relative;

	margin-bottom: var(--x-40);
}

.sk-grid-inner
{
	width: 100%;
	position: relative;
	
	display: flex;
	flex-wrap: wrap;
}

.sk-project-tile
{
	width: 50%;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	background: #000;
}

.sk-project-tile .showcase-img
{
	width: 100%;
	position: relative;

	transition: opacity 600ms ease-out;
	will-change: opacity;
}

.sk-project-tile .showcase-img img
{
	width: 100%;
}

.showcase-img-grad
{
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(to top,  rgba(0,0,0,0.48) 0%, rgba(0,0,0,0) 100%);
}

.showcase-details
{
	position: absolute;
	right: var(--x-32);
	bottom: var(--x-48);


	color: #fff;
	text-align: right;

	transition: 600ms ease-out;
	will-change: color transform;
}

.sk-project-tile:hover > .showcase-img 
{
	opacity: 0.4;
}

.sk-project-tile:hover > .showcase-details 
{
	color: var(--hex-luna);
	transform: translateX(-2em);
}

/*----------------------EXTENDED LINKS*/

.sk-more
{
	text-align: left;
	margin-bottom: var(--x-192);
}

.sk-more .h7
{
	color: var(--hex-luna);
	margin-bottom: var(--x-24);
}

.sk-more h1
{
	color: var(--hex-white);
}

.sk-more h1 a
{
	color: var(--hex-white);
	text-decoration: none;

	transition: color 400ms;
	will-change: color;
}

.sk-more h1 a:visited, .sk-footer h1 a:active
{
	color: var(--hex-white);
}

.sk-more h1 a:hover
{
	color: var(--hex-luna);
}

/*----------------------FOOTER*/

.sk-footer
{
	text-align: left;
	padding-bottom: var(--x-192);
}

.sk-footer .h7
{
	color: var(--hex-luna);
	margin-bottom: var(--x-24);
}

.sk-footer h1
{
	color: var(--hex-white);
}

.sk-footer-signoff
{
	color: var(--hex-luna);
	margin-top: var(--x-96);
}

.sk-footer h1 a
{
	color: var(--hex-white);
	text-decoration: none;

	transition: color 400ms;
	will-change: color;
}

.sk-footer h1 a:visited, .sk-footer h1 a:active
{
	color: var(--hex-white);
}

.sk-footer h1 a:hover
{
	color: var(--hex-luna);
}

/*----------------------PROJECT DISPLAYS*/

.sk-showcase-group
{
	width: 100%;
	position: relative;

	color: var(--hex-grey);

	margin-bottom: var(--x-296);
}

.sk-showcase-group .h7
{
	margin-bottom: var(--x-80);
	color: var(--hex-luna);
}

.sk-showcase-main
{
	width: 100%;

	position: relative;

	margin-bottom: var(--x-192);
}

.sk-showcase-main h5
{
	margin-bottom: var(--x-64);
	color: var(--hex-grey);
}

.sk-showcase-main .sk-showcase-img
{
	width: 100%;
	position: relative;

	margin-bottom: var(--x-64);

	background: #000;
}

.sk-showcase-main .sk-showcase-img .sk-showcase-img-content
{
	width: 100%;
	height: 56vh;
	position: relative;
}

.sk-showcase-main .sk-showcase-img a > div
{
	width: 100%;
	height: 100%;
	position: relative;

	transition: 600ms ease-in-out;
	will-change: height, filter;
}

.sk-showcase-main .sk-showcase-img a:hover > div
{
	/*opacity: 0.4;*/
	height: 64vh;
	filter: brightness(1.25);
}

.sk-showcase-cont
{
	width: 100%;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sk-showcase-cont .sk-showcase-aside
{
	width: 35%;
	position: relative;
}

.sk-showcase-cont .sk-showcase-aside .sk-showcase-link
{
	font-size: 2em;
	line-height: 1.4;
	color: var(--hex-white);
}

.sk-showcase-cont .sk-showcase-aside .sk-showcase-link a
{
	color: var(--hex-white);
	text-decoration: none;

	transition: color 400ms;
	will-change: color;
}

.sk-showcase-cont .sk-showcase-aside .sk-showcase-link a:active, .sk-showcase-cont .sk-showcase-aside .sk-showcase-link a:visited
{
	color: var(--hex-white);
}

.sk-showcase-cont .sk-showcase-aside .sk-showcase-link a:hover
{
	color: var(--hex-luna);
}

.sk-showcase-cont .sk-showcase-desc
{
	width: 66%;
	position: relative;
}




.sk-showcase-work-wrap .sk-work-title
{
	margin-bottom: var(--x-24);
}

.sk-showcase-work-cont
{
	width: 100%;
	max-width: 1440px;

	margin: 0 auto;

	position: relative;
}

.sk-work-wrap-dsk
{
	width: 100%;
	position: relative;
}

.sk-work-fx
{
	box-shadow: 0 16 24, rgba(0, 0, 0, 0.24);
}

.os-dsk-work
{
	width: 100%;
	max-width: 1440px;

	position: relative;
	overflow: hidden;

	border-radius: 8px;
	border: 1px solid rgba(255,255,255, 0.32);

	font-size: 0;

	margin-bottom: var(--x-192);
}

.os-dsk-work:last-of-type
{
	margin-bottom: 0;
}

.os-dsk-work img
{
	width: 100%;
	position: relative;

}

.sk-showcase-work-page
{
	align-items: flex-start;
}

.sk-showcase-aside-work-page
{
	display: flex;
	flex-wrap: wrap;
}

.aside-section
{
	width: 100%;
	position: relative;
}

.aside-section:first-of-type
{
	margin-bottom: var(--x-32);
}


.sk-showcase-work-cont-mobile-x3
{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}

.sk-showcase-work-cont-mobile-x3 .sk-work-title
{
	width: 100%;
	text-align: center;

	margin-bottom: var(--x-48);
}

.sk-work-wrap-mob
{
	width: 100%;
	position: relative;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.os-mob-work
{
	width: 343px;
	height: 742px;

	position: relative;
	overflow: hidden;

	border-radius: 24px;
	border: 1px solid rgba(255,255,255, 0.32);

	font-size: 0;
}

.os-mob-work img
{
	width: 100%;
	min-width: 343px;
	max-width: 343px;
	position: relative;

}

.basic-dsk-work
{
	width: 100%;
	position: relative;

	font-size: 0;

	margin-bottom: var(--x-192);
}

.basic-dsk-work:last-of-type
{
	margin-bottom: 0;
}

.basic-dsk-work img
{
	width: 100%;
	position: relative;
}

