@charset "UTF-8";

/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{
	h1
	{
		font-size: 3.375em;
	}

	.h1-lead
	{
		font-size: 2.625em;
	}

	h2
	{
		font-size: 3em;
	}

	h3
	{
		font-size: 2.625em;
	}

	h4
	{
		font-size: 2.25em;
	}

	h5
	{
		font-size: 1.875em;
	}

	h6
	{
		font-size: 1.5em;
	}

	.h7
	{
		font-size: 1.125em;
	}

	.p-lrg
	{
		font-size: 1.375em;
	}

	.p-med
	{
		font-size: 1.125em;
	}

	.sk-cont, .sk-nav-inner
	{
		width: 92%;
	}

	.sk-nav-content
	{
		width: 92%;
		margin: var(--x-64) auto 0 auto;
	}

	.sk-nav
	{
		height: 16rem;
	}

	.sk-nav-inner
	{
		padding-top: var(--x-24);
	}

	.sk-nav-inner h6
	{
		font-size: 1.25em;
	}

	.sk-nav-back
	{
		padding-top: var(--x-24) !important;
	}

	.sk-nav-back p
	{
		font-size: 1.1em;
	}

	.sk-header .h1-lead
	{
		width: 100%;

		padding-top: var(--x-160);
		padding-bottom: var(--x-160);
	}

	.sk-header h1
	{
		padding-top: var(--x-160);
		padding-bottom: var(--x-160);		
	}

	.sk-header h1
	{
		padding-top: var(--x-160);
		padding-bottom: var(--x-112);		
	}

	.sk-grid
	{
		margin-bottom: var(--x-104);
	}

	.sk-project-tile
	{
		width: 100%;
		position: relative;
	}

	.showcase-details
	{
		left: var(--x-16);
		bottom: var(--x-16);

		text-align: left;
	}

	.sk-more
	{
		margin-bottom: var(--x-104);
	}

	.sk-more .h7
	{
		margin-bottom: var(--x-8);
	}

	.sk-footer
	{
		padding-bottom: var(--x-192);
	}

	.sk-footer .h7
	{
		margin-bottom: var(--x-8);
	}

	.sk-footer-signoff
	{
		margin-top: var(--x-32);
	}


	.sk-showcase-group .h7
	{
		margin-bottom: var(--x-24);
	}

	.sk-showcase-group
	{
		margin-bottom: var(--x-104);
	}

	.sk-showcase-main
	{
		margin-bottom: var(--x-96);
	}

	.sk-showcase-main h5
	{
		margin-bottom: var(--x-16);

		font-size: 1.5em;
	}

	.sk-showcase-main .sk-showcase-img
	{
		margin-bottom: var(--x-16);
	}

	.sk-showcase-main .sk-showcase-img .sk-showcase-img-content
	{
		height: 25vh;
	}

	/*PROJECT TEXT - LINKS*/

	.sk-showcase-cont
	{
		flex-wrap: wrap-reverse;
	}

	.sk-showcase-cont .sk-showcase-aside
	{
		width: 100%;
	}

	.sk-showcase-cont .sk-showcase-aside .sk-showcase-link
	{
		font-size: 1em;
		line-height: 1.1;
		text-align: right;
	}

	.sk-showcase-cont .sk-showcase-aside .sk-showcase-link br
	{
		content: " ";
	}

	.sk-showcase-cont .sk-showcase-desc
	{
		width: 100%;

		padding-bottom: var(--x-24);

		display: none;
	}

	.sk-showcase-cont .sk-showcase-desc .p-med
	{
		font-size: 1em;
	}
}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	h1
	{
		font-size: 5.5em;
	}

	.h1-lead
	{
		font-size: 4em;
	}

	h2
	{
		font-size: 5em;
	}

	h3
	{
		font-size: 4em;
	}

	h4
	{
		font-size: 3em;
	}

	h5
	{
		font-size: 2em;
	}

	h6
	{
		font-size: 1.5em;
	}

	.h7
	{
		font-size: 1em;
	}

	.p-lrg
	{
		font-size: 1.5em;
	}

	.p-med
	{
		font-size: 1.25em;
	}

	.sk-cont, .sk-nav-inner
	{
		width: 90%;
	}

	.sk-nav-content
	{
		width: 90%;
		margin: var(--x-64) auto 0 auto;
	}

	.sk-nav
	{
		height: 25rem;
	}

	.sk-nav-inner
	{
		padding-top: var(--x-40);
	}

	.sk-nav-inner h6
	{
		font-size: 2em;
	}

	.sk-nav-back p
	{
		font-size: 1.375em;
	}

	.sk-nav-back
	{
		padding-top: var(--x-32) !important;
	}

	.sk-header .h1-lead
	{
		width: 92%;

		padding-top: var(--x-224);
		padding-bottom: var(--x-224);
	}

	.sk-header h1
	{
		padding-top: var(--x-224);
		padding-bottom: var(--x-128);		
	}

	.sk-grid
	{
		margin-bottom: var(--x-192);
	}

	.sk-project-tile
	{
		width: 100%;
		position: relative;
	}

	.showcase-details
	{
		right: var(--x-32);
		bottom: var(--x-48);

		text-align: right;
	}

	.sk-more
	{
		margin-bottom: var(--x-192);
	}

	.sk-more .h7
	{
		margin-bottom: var(--x-24);
	}

	.sk-footer
	{
		padding-bottom: var(--x-192);
	}

	.sk-footer .h7
	{
		margin-bottom: var(--x-24);
	}

	.sk-footer-signoff
	{
		margin-top: var(--x-96);
	}


	.sk-showcase-group .h7
	{
		margin-bottom: var(--x-32);
	}

	.sk-showcase-group
	{
		margin-bottom: var(--x-160);
	}

	.sk-showcase-main
	{
		margin-bottom: var(--x-144);
	}

	.sk-showcase-main h5
	{
		margin-bottom: var(--x-48);

		font-size: 2em;
	}

	.sk-showcase-main .sk-showcase-img
	{
		margin-bottom: var(--x-48);
	}

	.sk-showcase-main .sk-showcase-img .sk-showcase-img-content
	{
		height: 40vh;
	}

	/*PROJECT TEXT - LINKS*/

	.sk-showcase-cont
	{
		flex-wrap: wrap-reverse;
	}

	.sk-showcase-cont .sk-showcase-aside
	{
		width: 100%;
	}

	.sk-showcase-cont .sk-showcase-aside .sk-showcase-link
	{
		font-size: 3.5em;
		line-height: 1.1;

		text-align: left;
	}

	.sk-showcase-cont .sk-showcase-aside .sk-showcase-link br
	{
		content: normal;
	}

	.sk-showcase-cont .sk-showcase-desc
	{
		width: 100%;

		padding-bottom: var(--x-48);

		display: inherit;
	}

	.sk-showcase-cont .sk-showcase-desc .p-med
	{
		font-size: 1.25em;
	}
}

/* TABLET */
@media only screen and (min-width: 900px)
{
	h1
	{
		font-size: 6em;
	}

	.h1-lead
	{
		font-size: 4.5em;
	}

	h2
	{
		font-size: 5.5em;
	}

	h3
	{
		font-size: 4.5em;
	}

	h4
	{
		font-size: 3.5em;
	}

	h5
	{
		font-size: 2.5em;
	}

	h6
	{
		font-size: 1.5em;
	}

	.h7
	{
		font-size: 1em;
	}

	.p-lrg
	{
		font-size: 1.5em;
	}

	.p-med
	{
		font-size: 1.25em;
	}

	.sk-cont, .sk-nav-inner
	{
		width: 90%;
	}

	.sk-nav-content
	{
		width: 90%;
		margin: var(--x-64) auto 0 auto;
	}

	.sk-nav
	{
		height: 25rem;
	}

	.sk-nav-inner
	{
		padding-top: var(--x-40);
	}

	.sk-nav-inner h6
	{
		font-size: 2em;
	}

	.sk-nav-back
	{
		padding-top: var(--x-32) !important;
	}

	.sk-nav-back p
	{
		font-size: 1.375em;
	}

	.sk-header .h1-lead
	{
		width: 92%;

		padding-top: var(--x-296);
		padding-bottom: var(--x-296);
	}

	.sk-header h1
	{
		padding-top: var(--x-296);
		padding-bottom: var(--x-296);		
	}

	.sk-grid
	{
		margin-bottom: var(--x-192);
	}

	.sk-project-tile
	{
		width: 100%;
		position: relative;
	}

	.showcase-details
	{
		right: var(--x-32);
		bottom: var(--x-48);

		text-align: right;
	}

	.sk-more
	{
		margin-bottom: var(--x-192);
	}

	.sk-more .h7
	{
		margin-bottom: var(--x-24);
	}

	.sk-footer
	{
		padding-bottom: var(--x-192);
	}

	.sk-footer .h7
	{
		margin-bottom: var(--x-24);
	}

	.sk-footer-signoff
	{
		margin-top: var(--x-96);
	}


	.sk-showcase-group .h7
	{
		margin-bottom: var(--x-32);
	}

	.sk-showcase-group
	{
		margin-bottom: var(--x-192);
	}

	.sk-showcase-main
	{
		margin-bottom: var(--x-160);
	}

	.sk-showcase-main h5
	{
		margin-bottom: var(--x-56);

		font-size: 2.5em;
	}

	.sk-showcase-main .sk-showcase-img
	{
		margin-bottom: var(--x-56);
	}

	.sk-showcase-main .sk-showcase-img .sk-showcase-img-content
	{
		height: 40vh;
	}

	/*PROJECT TEXT - LINKS*/

	.sk-showcase-cont
	{
		flex-wrap: nowrap;
	}

	.sk-showcase-cont .sk-showcase-aside
	{
		width: 35%;
	}

	.sk-showcase-cont .sk-showcase-aside .sk-showcase-link
	{
		font-size: 2em;
		line-height: 1.4;
	}

	.sk-showcase-cont .sk-showcase-desc
	{
		width: 66%;
		padding-bottom: 0;
	}


}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{
	h1
	{
		font-size: 6.5em;
	}

	.h1-lead
	{
		font-size: 5em;
	}

	h2
	{
		font-size: 6em;
	}

	h3
	{
		font-size: 5em;
	}

	h4
	{
		font-size: 4em;
	}

	h5
	{
		font-size: 3em;
	}

	h6
	{
		font-size: 2em;
	}

	.h7
	{
		font-size: 1.5em;
	}

	.p-lrg
	{
		font-size: 1.5em;
	}

	.p-med
	{
		font-size: 1.25em;
	}

	.sk-cont, .sk-nav-inner
	{
		width: 83.3%;
	}

	.sk-nav-content
	{
		width: 83.3%;
		margin: var(--x-64) auto 0 auto;
	}

	.sk-nav
	{
		height: 25rem;
	}

	.sk-nav-inner
	{
		padding-top: var(--x-64);
	}

	.sk-nav-inner h6
	{
		font-size: 2em;
	}

	.sk-nav-back
	{
		padding-top: var(--x-32) !important;
	}

	.sk-nav-back p
	{
		font-size: 1.375em;
	}

	.sk-header .h1-lead
	{
		width: 83%;

		padding-top: var(--x-296);
		padding-bottom: var(--x-296);
	}

	.sk-header h1
	{
		padding-top: var(--x-296);
		padding-bottom: var(--x-296);		
	}

	.sk-grid
	{
		margin-bottom: var(--x-192);
	}

	.sk-project-tile
	{
		width: 50%;
		position: relative;
	}

	.showcase-details
	{
		right: var(--x-32);
		bottom: var(--x-48);

		text-align: right;
	}

	.sk-more
	{
		margin-bottom: var(--x-192);
	}

	.sk-more .h7
	{
		margin-bottom: var(--x-24);
	}

	.sk-footer
	{
		padding-bottom: var(--x-192);
	}

	.sk-footer .h7
	{
		margin-bottom: var(--x-24);
	}

	.sk-footer-signoff
	{
		margin-top: var(--x-96);
	}


	.sk-showcase-group .h7
	{
		margin-bottom: var(--x-40);
	}

	.sk-showcase-group
	{
		margin-bottom: var(--x-296);
	}

	.sk-showcase-main
	{
		margin-bottom: var(--x-192);
	}

	.sk-showcase-main h5
	{
		margin-bottom: var(--x-64);

		font-size: 3em;
	}

	.sk-showcase-main .sk-showcase-img
	{
		margin-bottom: var(--x-64);
	}

	.sk-showcase-main .sk-showcase-img .sk-showcase-img-content
	{
		height: 56vh;
	}
}

/* DESKTOP XL */
@media only screen and (min-width: 1920px)
{
	h1
	{
		font-size: 8.125em;
	}

	.h1-lead
	{
		font-size: 6.25em;
	}

	h2
	{
		font-size: 7.5em;
	}

	h3
	{
		font-size: 6.25em;
	}

	h4
	{
		font-size: 5em;
	}

	h5
	{
		font-size: 3.75em;
	}

	h6
	{
		font-size: 2.5em;
	}

	.h7
	{
		font-size: 1.875em;
	}

	.p-lrg
	{
		font-size: 1.875em;
	}

	.p-med
	{
		font-size: 1.5625em;
	}

	.p-sml
	{
		font-size: 1.25em;
	}

	.p-tny
	{
		font-size: 1.125em;
	}

	.p-low
	{
		font-size: 1em;
	}

	.sk-cont, .sk-nav-inner
	{
		width: 80%;
	}

	.sk-nav-content
	{
		width: 80%;
		margin: var(--x-96) auto 0 auto;
	}

	.sk-nav
	{
		height: 28rem;
	}

	.sk-nav-inner
	{
		padding-top: var(--x-64);
	}

	.sk-nav-inner h6
	{
		font-size: 2.5em;
	}

	.sk-nav-back
	{
		padding-top: var(--x-32) !important;
	}

	.sk-nav-back p
	{
		font-size: 2em;
	}

	.sk-header .h1-lead
	{
		width: 64%;

		padding-top: var(--x-320);
		padding-bottom: var(--x-320);
	}

	.sk-header h1
	{
		padding-top: var(--x-320);
		padding-bottom: var(--x-320);		
	}

	.sk-grid
	{
		margin-bottom: var(--x-320);
	}

	.sk-more
	{
		margin-bottom: var(--x-320);
	}

	.sk-more .h7
	{
		margin-bottom: var(--x-32);
	}

	.sk-footer
	{
		padding-bottom: var(--x-320);
	}

	.sk-footer .h7
	{
		margin-bottom: var(--x-32);
	}

	.sk-footer-signoff
	{
		margin-top: var(--x-96);
	}


	.sk-showcase-group .h7
	{
		margin-bottom: var(--x-80);
	}

	.sk-showcase-group
	{
		margin-bottom: var(--x-320);
	}

	.sk-showcase-main
	{
		margin-bottom: var(--x-296);
	}

	.sk-showcase-main h5
	{
		margin-bottom: var(--x-96);

		font-size: 3.75em;
	}

	.sk-showcase-main .sk-showcase-img
	{
		margin-bottom: var(--x-96);
	}

	.sk-showcase-main .sk-showcase-img .sk-showcase-img-content
	{
		height: 56vh;
	}

	.sk-showcase-cont .sk-showcase-aside .sk-showcase-link
	{
		font-size: 3.5em;
		line-height: 1.1;
	}
}
